In [1]:
import os
import pandas as pd
import shutil
from natsort import natsorted
from tqdm import tqdm

In [2]:
dataset_path = "/mnt/NVME/KABR"
new_dataset_path = "/mnt/NVME/KABR_SEGMENTED"

if not os.path.exists(new_dataset_path):
    os.makedirs(new_dataset_path)

if not os.path.exists(f"{new_dataset_path}/annotation"):
    os.makedirs(f"{new_dataset_path}/annotation")

if not os.path.exists(f"{new_dataset_path}/dataset/image"):
    os.makedirs(f"{new_dataset_path}/dataset/image")

train_df = pd.read_csv(f"{dataset_path}/annotation/train.csv", sep=" ")
val_df = pd.read_csv(f"{dataset_path}/annotation/val.csv", sep=" ")
segment_size = 90

In [3]:
new_df = []
video_id = 1

for folder in tqdm(train_df["original_vido_id"].unique()):
    subset = train_df[train_df["original_vido_id"] == folder].reset_index(drop=True)
    
    number_of_subfolders = len(subset) // segment_size
    
    for i in range(number_of_subfolders):
        for j in range(segment_size):
            original_vido_id = subset.loc[i * segment_size + j]["original_vido_id"]
            new_original_vido_id = f"{original_vido_id}.{i + 1}"
            new_video_id = video_id
            new_frame_id = j + 1
            old_path = subset.loc[i * segment_size + j]["path"]
            new_path = f"{new_original_vido_id}/{new_frame_id}.jpg"
            new_labels = subset.loc[i * segment_size + j]["labels"]
            new_df.append([new_original_vido_id, new_video_id, new_frame_id, new_path, new_labels])
            
            if not os.path.exists(f"{new_dataset_path}/dataset/image/{new_original_vido_id}"):
                os.makedirs(f"{new_dataset_path}/dataset/image/{new_original_vido_id}")

            shutil.copy(f"{dataset_path}/dataset/image/{old_path}", f"{new_dataset_path}/dataset/image/{new_path}")
        
        video_id += 1
    
    for i in range(len(subset) % segment_size):
        original_vido_id = subset.loc[number_of_subfolders * segment_size + i]["original_vido_id"]
        new_original_vido_id = f"{original_vido_id}.{number_of_subfolders + 1}"
        new_video_id = video_id
        new_frame_id = i + 1
        old_path = subset.loc[number_of_subfolders * segment_size + i]["path"]
        new_path = f"{new_original_vido_id}/{new_frame_id}.jpg"
        new_labels = subset.loc[number_of_subfolders * segment_size + i]["labels"]
        new_df.append([new_original_vido_id, new_video_id, new_frame_id, new_path, new_labels])
    
        if not os.path.exists(f"{new_dataset_path}/dataset/image/{new_original_vido_id}"):
            os.makedirs(f"{new_dataset_path}/dataset/image/{new_original_vido_id}")

        shutil.copy(f"{dataset_path}/dataset/image/{old_path}", f"{new_dataset_path}/dataset/image/{new_path}")
    
    video_id += 1
        

new_train_df = pd.DataFrame(new_df, columns=["original_vido_id", "video_id", "frame_id", "path", "labels"])
new_train_df.to_csv(f"{new_dataset_path}/annotation/train.csv", sep=" ", index=False)

100%|████████████████████████████████████████| 558/558 [03:30<00:00,  2.65it/s]

In [4]:
new_df = []

for folder in tqdm(val_df["original_vido_id"].unique()):
    subset = val_df[val_df["original_vido_id"] == folder].reset_index(drop=True)
    
    number_of_subfolders = len(subset) // segment_size
    
    for i in range(number_of_subfolders):
        for j in range(segment_size):
            original_vido_id = subset.loc[i * segment_size + j]["original_vido_id"]
            new_original_vido_id = f"{original_vido_id}.{i + 1}"
            new_video_id = video_id
            new_frame_id = j + 1
            old_path = subset.loc[i * segment_size + j]["path"]
            new_path = f"{new_original_vido_id}/{new_frame_id}.jpg"
            new_labels = subset.loc[i * segment_size + j]["labels"]
            new_df.append([new_original_vido_id, new_video_id, new_frame_id, new_path, new_labels])
            
            if not os.path.exists(f"{new_dataset_path}/dataset/image/{new_original_vido_id}"):
                os.makedirs(f"{new_dataset_path}/dataset/image/{new_original_vido_id}")

            shutil.copy(f"{dataset_path}/dataset/image/{old_path}", f"{new_dataset_path}/dataset/image/{new_path}")
            
        
        video_id += 1
    
    for i in range(len(subset) % segment_size):
        original_vido_id = subset.loc[number_of_subfolders * segment_size + i]["original_vido_id"]
        new_original_vido_id = f"{original_vido_id}.{number_of_subfolders + 1}"
        new_video_id = video_id
        new_frame_id = i + 1
        old_path = subset.loc[number_of_subfolders * segment_size + i]["path"]
        new_path = f"{new_original_vido_id}/{new_frame_id}.jpg"
        new_labels = subset.loc[number_of_subfolders * segment_size + i]["labels"]
        new_df.append([new_original_vido_id, new_video_id, new_frame_id, new_path, new_labels])
    
        if not os.path.exists(f"{new_dataset_path}/dataset/image/{new_original_vido_id}"):
            os.makedirs(f"{new_dataset_path}/dataset/image/{new_original_vido_id}")

        shutil.copy(f"{dataset_path}/dataset/image/{old_path}", f"{new_dataset_path}/dataset/image/{new_path}")
    
    video_id += 1
        

new_val_df = pd.DataFrame(new_df, columns=["original_vido_id", "video_id", "frame_id", "path", "labels"])
new_val_df.to_csv(f"{new_dataset_path}/annotation/val.csv", sep=" ", index=False)

100%|████████████████████████████████████████| 184/184 [01:07<00:00,  2.73it/s]

In [5]:
train_df

       original_vido_id  video_id  frame_id             path  labels
0                ZG0001         1         1     ZG0001/1.jpg       0
1                ZG0001         1         2     ZG0001/2.jpg       0
2                ZG0001         1         3     ZG0001/3.jpg       0
3                ZG0001         1         4     ZG0001/4.jpg       0
4                ZG0001         1         5     ZG0001/5.jpg       0
...                 ...       ...       ...              ...     ...
849867           ZG0740       740      4965  ZG0740/4965.jpg       1
849868           ZG0740       740      4966  ZG0740/4966.jpg       1
849869           ZG0740       740      4967  ZG0740/4967.jpg       1
849870           ZG0740       740      4968  ZG0740/4968.jpg       1
849871           ZG0740       740      4969  ZG0740/4969.jpg       1

[849872 rows x 5 columns]

In [6]:
new_train_df

       original_vido_id  video_id  frame_id              path  labels
0              ZG0001.1         1         1    ZG0001.1/1.jpg       0
1              ZG0001.1         1         2    ZG0001.1/2.jpg       0
2              ZG0001.1         1         3    ZG0001.1/3.jpg       0
3              ZG0001.1         1         4    ZG0001.1/4.jpg       0
4              ZG0001.1         1         5    ZG0001.1/5.jpg       0
...                 ...       ...       ...               ...     ...
849867        ZG0740.56      9728        15  ZG0740.56/15.jpg       1
849868        ZG0740.56      9728        16  ZG0740.56/16.jpg       1
849869        ZG0740.56      9728        17  ZG0740.56/17.jpg       1
849870        ZG0740.56      9728        18  ZG0740.56/18.jpg       1
849871        ZG0740.56      9728        19  ZG0740.56/19.jpg       1

[849872 rows x 5 columns]

In [7]:
val_df

       original_vido_id  video_id  frame_id             path  labels
0                ZG0009         9         1     ZG0009/1.jpg       0
1                ZG0009         9         2     ZG0009/2.jpg       0
2                ZG0009         9         3     ZG0009/3.jpg       0
3                ZG0009         9         4     ZG0009/4.jpg       0
4                ZG0009         9         5     ZG0009/5.jpg       0
...                 ...       ...       ...              ...     ...
290016           ZG0742       742      1467  ZG0742/1467.jpg       1
290017           ZG0742       742      1468  ZG0742/1468.jpg       1
290018           ZG0742       742      1469  ZG0742/1469.jpg       1
290019           ZG0742       742      1470  ZG0742/1470.jpg       1
290020           ZG0742       742      1471  ZG0742/1471.jpg       1

[290021 rows x 5 columns]

In [8]:
new_val_df

       original_vido_id  video_id  frame_id              path  labels
0              ZG0009.1      9729         1    ZG0009.1/1.jpg       0
1              ZG0009.1      9729         2    ZG0009.1/2.jpg       0
2              ZG0009.1      9729         3    ZG0009.1/3.jpg       0
3              ZG0009.1      9729         4    ZG0009.1/4.jpg       0
4              ZG0009.1      9729         5    ZG0009.1/5.jpg       0
...                 ...       ...       ...               ...     ...
290016        ZG0742.17     13044        27  ZG0742.17/27.jpg       1
290017        ZG0742.17     13044        28  ZG0742.17/28.jpg       1
290018        ZG0742.17     13044        29  ZG0742.17/29.jpg       1
290019        ZG0742.17     13044        30  ZG0742.17/30.jpg       1
290020        ZG0742.17     13044        31  ZG0742.17/31.jpg       1

[290021 rows x 5 columns]